/* GLOBAL STYLES */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Poppins&display=swap');

:root {
    /* Color palette from: https://colorhunt.co/palette/eff5f5d6e4e5497174eb6440 */
    --color-primary:    235, 100, 64;
    --color-secondary:  73, 113, 116;
    --color-light:      214, 228, 229;
    --color-light2:     239, 245, 245;
    --color-gold1:      250, 234, 177;

    /* https://www.schemecolor.com/christmas-hex-color-codes.php */
    --color-green1:     #165B33;
    --color-green2:     #146B3A;
    --color-yellow:     248, 189, 41;
    --color-orange:     #EA4630;
    --color-red:        #BB2528;

    --shadow-color: 13deg 71% 35%;
    --shadow-elevation-low:
        0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.34),
        0.8px 0.8px 1.3px -1.2px hsl(var(--shadow-color) / 0.34),
        2px 2px 3.2px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
        0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.36),
        1.6px 1.6px 2.5px -0.8px hsl(var(--shadow-color) / 0.36),
        4px 4.1px 6.4px -1.7px hsl(var(--shadow-color) / 0.36),
        9.8px 10px 15.8px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high:
        0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.34),
        2.9px 2.9px 4.6px -0.4px hsl(var(--shadow-color) / 0.34),
        5.3px 5.5px 8.6px -0.7px hsl(var(--shadow-color) / 0.34),
        8.8px 9px 14.2px -1.1px hsl(var(--shadow-color) / 0.34),
        14px 14.3px 22.5px -1.4px hsl(var(--shadow-color) / 0.34),
        21.9px 22.4px 35.2px -1.8px hsl(var(--shadow-color) / 0.34),
        33.3px 34px 53.5px -2.1px hsl(var(--shadow-color) / 0.34),
        49.1px 50.1px 78.9px -2.5px hsl(var(--shadow-color) / 0.34);

/*     --color-primary: #EB6440;
    --color-secondary: #497174;
    --color-light: #D6E4E5;
    --color-light2: #EFF5F5; */
}

/* BASIC RESET */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;

    font-family: 'Poppins', sans-serif;

    background-color: rgb(var(--color-primary));
    background-image: url('assets/ChristmasPattern.svg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;

    font-size: 1.5rem;
}

.container {
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 10px solid var(--color-green1);
    box-shadow: var(--shadow-elevation-medium);

    transition: 0.2s ease-in;
    position: relative;
}

h1 {
    font-family: 'Fredoka', sans-serif;
    font-size: 3rem;
    color: var(--color-red);
    margin: 0 1.5rem;
}

.container ul {
    padding-left: 0;
}

.container li {
    list-style: none;
    text-align: center;
    width: 100%;
    line-height: 3rem;
}

.container li:nth-child(odd) {
    background-color: rgba(var(--color-yellow));
}

.container li:nth-child(even) {
    background-color: rgba(var(--color-yellow), 0.5);
}

.container li:hover {
    background-color: var(--color-green2);
    color: white;
    transition: background-color 0.2s;
}

#decoration-top {
    position: absolute;
    top: -100px;
    right: -120px;
    width: 200px;
    transform: rotate(65deg);
    filter: drop-shadow(5px 5px 8px black);
    transition: filter 0.2s ease-in;
}
